spring:
  config:
    import: optional:file:.env[.properties]
  main:
    log-startup-info: false
  datasource:
    url: jdbc:mysql://localhost:3306/todo_db?useUnicode=true&characterEncoding=utf8&characterSetResults=utf8&connectionCollation=utf8mb4_unicode_ci
    username: root
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        connection:
          characterEncoding: utf8
          charSet: utf8mb4
          useUnicode: true
  flyway:
    enabled: true
    baseline-on-migrate: true
  sql:
    init:
      mode: never
      encoding: UTF-8
server:
  servlet:
    session:
      tracking-modes: cookie


